@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --main-font: 'Roboto',sans-serif;
    --title-font: 'Overpass',sans-serif;
    --main-shadow: 0 4px 16px rgba(0, 0, 0, 0.09);
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    height: 100%;
    min-height: 100vh;
}

header{
    font-family: var(--main-font);
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 6.5em;
    border-bottom: 3px solid black;
}

header .main-title{
    font-size: 2.5rem;
    color:black;
    text-transform: uppercase;
    font-family: var(--title-font);
}

header .main-nav{
    display: flex;
    gap:2em;
}

header ul li{
    list-style: none;
}

header ul li a{
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color:#b09372;
    transition: color 0.3s;
}

    .main-nav a:hover,
    .main-nav a:active{
        color:white;
    }

.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1em;
}

.buttons-container .sign-btn{
    padding:1em 2em;
    font-size: 1rem;
    font-weight: bold;
    border:none;
    background-color: transparent;
    cursor: pointer;
    color: #7e7e7e;
    transition: background-color 0.3s,border 0.3s,color 0.3s;
}

    .sign-btn:hover{
        color:white;
    }

.buttons-container .login-btn{
    padding:1em 2em;
    font-size: 1rem;
    border: none;
    border-radius: 3em;
    font-weight: bold;
    background-color: #B3A580;
    cursor: pointer;
    transition: background-color 0.3s,border 0.3s,color 0.3s;
}

    .login-btn:hover{
        background-color: #a79665;
        color:white;
    }

.buttons-container .theme-btn{
    -webkit-appearance: none;
    appearance: none;
    height: 2em;
    width: 5em;
    background-color: #B3A580;
    border-radius: 2em;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: left 0.3s;
}

    .theme-btn:before{
        content:"";
        position: absolute;
        height: 1.6em;
        width: 1.8em;
        background-color: #d5d5d5;
        background-image: url(brightness.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 15px;
        background-position: center;
        border-radius: 50%;
        top:0.2em;
        left:0.2em;
    }

    .theme-btn:checked{
        background-color: #a09169;
    }

    .theme-btn:checked:before{
        left:3em;
    }


main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container{
    width: 90%;
    height: 25em;
    margin:2em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
}

.search-container label{
    font-size: 3rem;
    font-style: italic;
    font-weight: 800;
    font-family: var(--title-font);
}

.searchbar{
    width: 30%;
    display: flex;
}

.searchbar input{
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 1.8em 0em 0em 1.8em;
    font-size: 1.1rem;
}

    .searchbar input:active{
        border: none;
    }

.searchbar button{
    border: none;
    padding: 1em;
    border-radius:0em 1.8em 1.8em 0em;
    cursor: pointer;
}

.accordion-container{
    width: 90%;
    height: 25em;
    border-radius: 2em;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:2em;
    gap:5em;
}

.left-container{
    margin-left:7em;
    width: 51%;
    display: flex;
    flex-direction: column;
    gap:1.5em;
}

.accordion{
    width: 38em;
    padding:1em;
    background-color: #fff;
    border-radius: 0.8em;
    box-shadow: var(--main-shadow);
}

.accordion .accordion-header{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.accordion-header h4{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.1rem;
}

.accordion-header .icon-btn{
    display: flex;
    background-color: #d5d5d5;
    border-radius: 0.2em;
    justify-content: center;
    align-items: center;
    padding:0.2em;
    cursor: pointer;
    box-shadow: var(--main-shadow);
}

    .item-icon i {
        transition:all .35s ease-in-out;
    }

.active i {
    transform: rotate(180deg);
}

.accordion-answer{
    max-height: 0;
    overflow:hidden;
    transition:all 300ms;
    opacity: .9;
    font-family: var(--main-font);
}

.right-container{
    width: 49%;
    display: flex;
    justify-content: center;
}

.right-container img{
    object-fit: cover;
    border-radius: 1.1em;
    border:8px solid black;
}

/*  ========================================================== 
    HELP STYLING
    ==========================================================*/

.help-wrapper{
    margin-top:2em;
    width: 85%;
    height: 50em;
    display: flex;
    justify-content: center;
    border-radius: 2em;
}

.help-container{
    margin:auto;
    display: flex;
    flex-direction: column;
    gap:2em
}

.help-container h1{
    font-size: 3rem;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    font-family: var(--title-font);
}

/*  ========================================================== 
    SIGN STYLING
    ==========================================================*/

.sign-main{
    min-height: 100vh;
}

.sign-container{
    margin-top:-5em;
    width: 45%;
    height: 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.6em;
}

.sign-container form{
    width: 33em;
    display: flex;
    flex-direction: column;
    gap:1em;
}

.sign-container h1{
    font-size: 3rem;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    font-family: var(--title-font);
}

.sign-container label{
    font-family: var(--main-font);
    font-size:1.2rem;
}

.sign-container input{  
    padding:1.3em;
    height: 3.5em;
    border-radius:1.7em;
    border: none;
    font-size: 1.1rem;
    font-family: var(--main-font);
}

.sign-container input[type = "submit"]{
    width: 50%;
    margin:0 auto;
    padding:0;
    margin-top:1.1em;
    cursor: pointer;
    font-size:1.3rem;
}

/*  ========================================================== 
    LOGIN STYLING
    ==========================================================*/

.login-main{
    min-height: 80vh;
}

.login-container{
    margin-top:-13em;
    width: 30%;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.6em;
}

.login-container form{
    width: 20em;
    display: flex;
    flex-direction: column;
    gap:2em;
}

.login-container h1{
    font-size: 3rem;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    font-family: var(--title-font);
}

.login-container input{  
    padding:1.3em;
    height: 3.5em;
    border-radius:1.7em;
    border: none;
    font-size: 1.1rem;
    font-family: var(--main-font);
}

.login-container input[type = "submit"]{
    padding:0;
    cursor: pointer;
    font-size:1.1rem;
}


/*  ========================================================== 
    VIEW-PROFILE STYLING
    ==========================================================*/

.user-profile-main{
    min-height: 100vh;
}

.profile-container{
    margin-top:-13em;
    width: 30%;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.6em;
    border: 3px solid black;
}

.profile-container .username-title{
    font-size:2.3rem;
    margin:-3em 0em 1.6em 0em;
    text-transform: uppercase;
    font-family: var(--title-font);
    letter-spacing: 0.2em;
}

.name-surname-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3em;
}

.line{
    display: flex;
    align-items: center;
    gap:0.3rem
}

.line h2,.email-container h2{
    font-size: 1.5rem;
    font-family: var(--title-font);
}

.line,.email-container p{
    font-size:1.3rem;
    font-family: var(--main-font);
}

.line p{
    margin-top:-0.15em;
}

.email-container{
    display: flex;
    align-items: center;
}

.btn-container{
    margin:3em 0em -5em 0em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn{
    padding:1em 2em;
    font-size: 1rem;
    font-weight: bold;
    border:none;
    border-radius: 3rem;
    cursor: pointer;
    box-shadow: var(--main-shadow);
    transition: background-color 0.3s,border 0.3s,color 0.3s;
}

.edit-btn {
    background-color: rgb(37, 146, 37);
}

    .edit-btn:hover{
        background-color: rgb(39, 116, 39);
    }

.delete-btn{
    background-color: #E74036;
}

    .delete-btn:hover{
        background-color: #b8352e;
    }


/*  ========================================================== 
    EDIT-PROFILE STYLING
    ==========================================================*/

.edit-user-main{
    min-height: 80vh;
}

.edit-user-container{
    background-color: burlywood;
    width: 30%;
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.6em;
    border: 3px solid black;
}

.edit-user-container .main-title{
    font-size:2.3rem;
    margin:0.7em 0em 1.6em 0em;
    text-transform: uppercase;
    font-family: var(--title-font);
}

.edit-user-container form{
    display: flex;
    flex-direction: column;
    gap:0.2em;
}

.edit-user-container label{
    font-size: 1rem;
    font-style: italic;
    font-weight: 800;
    font-family: var(--title-font);
}

.edit-user-container input{
    padding:1.3em;
    height: 3em;
    border-radius:1.7em;
    border: none;
    font-size: 1.1rem;
    font-family: var(--main-font);
}

    .edit-user-container input::-ms-value{
        opacity: 1;
        color:black;
    }

.edit-user-container input[type = "submit"]{
    width: 50%;
    margin:0 auto;
    padding:0;
    margin-top:1.1em;
    cursor: pointer;
    font-size:1.3rem;
}


/*  ========================================================== 
    DELETE-PROFILE STYLING
    ==========================================================*/

.delete-user-main{
    min-height: 80vh;
}

.delete-user-container{
    background-color: burlywood;
    width: 30%;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.6em;
    border: 3px solid black;
}

.delete-user-container p{
    font-size:1.2rem;
    font-family: var(--main-font);
}

.delete-user-container .yes-btn{
    background-color: rgb(37, 146, 37);
}

    .delete-user-container .yes-btn:hover{
        background-color: rgb(39, 116, 39);
    }

.delete-user-container .no-btn{
    background-color: #E74036;
}

    .delete-user-container .no-btn:hover{
        background-color: #b8352e;
    }

/*  ========================================================== 
    FORUM STYLING
    ==========================================================*/

.forum-wrapper{
    margin-top:2em;
    width: 85%;
    height: 50em;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    border-radius: 2em;
}

.forum-container{
    margin-top:5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
}

    .forum-container .new-btn{
        background-color: rgb(37, 146, 37);
        width: 50%;
    }

    .forum-container .new-btn:hover{
        background-color: rgb(39, 116, 39);
    }


    .forum-container .new-notlogin-btn{
        background-color: #E74036;
        width: 50%;
    }

    .forum-container .new-notlogin-btn:hover{
        background-color: #b8352e;
    }

.forum-container table{
    width: 50em;
    border:3px solid black;
    font-family:var(--main-font);
    border-radius: 0.4em;
}
    
.forum-container td{
    padding:0.3em;
}
    
.forum-container a{
    text-decoration: none;
    color:black;
}

    .forum-container a:hover{
        color:#e6e5e5
    }

/*  ========================================================== 
    CREATE-POST STYLING
    ==========================================================*/

.create-post-main{
    min-height: 80vh;
}

.create-post-main .create-post-form{
    width: 50%;
    height: 30em;
    display: flex;
    flex-direction: column;
    gap:1em;
    padding:2em;
    border-radius: 1.1em;
}

.create-post-form label{
    font-size:2rem;
    font-family: var(--title-font);
}

.create-post-form input,
.create-post-form textarea{
    font-size:1.5rem;
    padding:0.3rem;
    font-family: var(--main-font);
}

.create-post-form textarea{
    height: 15em;
}

/*  ========================================================== 
    POST-VIEW STYLING
    ==========================================================*/

.post-view-wrapper{
    margin-top:2em;
    width: 85%;
    height: 50em;
    display: flex;
    flex-direction: column;
    border-radius: 2em;
}



.post-view-container{
    margin-top:5em;
    height: 25%;  
    display: flex;
    justify-content: center;
    gap:2em;
}


.post-view-container img{
    width: 10em;
    height: 10em;
    border-radius: 1em;
}

.text-view-container h1{
    font-family: var(--title-font);
}

.text-view-container .user-date-container{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.text-view-container p{
    margin-top:0.5em;
    border: 1px solid black;
    height: 5em;
    font-family: var(--main-font);
    padding:0.5em;
}

/*  ========================================================== 
    SEARCH-POST STYLING
    ==========================================================*/

.search-wrapper{
    margin-top:2em;
    width: 85%;
    height: 50em;
    display: flex;
    justify-content: center;
    border-radius: 2em;
}
